# ä½œä¸š2 è‚¡ç¥¨æ•°æ®æ¸…æ´—

åŒå­¦ä»¬å¥½ï¼Œæœ¬æ¬¡ä½œä¸šçš„ä¸»è¦å†…å®¹ä¸ºä½¿ç”¨pandasè¿›è¡Œæ•°æ®é¢„å¤„ç†ã€‚å¸Œæœ›è¿™ä¸¤å¤©ä½ ä»¬å·²ç»ä»Pythonçš„è¯¾ç¨‹å†…å®¹ä¸­å›è¿‡ç¥æ¥äº†ã€‚
æ²¡æœ‰æ•°æ®çš„åˆ†ææ˜¯æ— æºä¹‹æ°´ï¼Œèƒ½å¤Ÿç†Ÿç»ƒå¤„ç†æ•°æ®æ˜¯æˆä¸ºåˆæ ¼çš„æ•°æ®åˆ†æå¸ˆçš„åŸºæœ¬è¦æ±‚ï¼Œå¸Œæœ›å¤§å®¶åœ¨ä»Šåå¤šå¤šå®æˆ˜ï¼Œæˆä¸ºæ•°æ®å¤§å¸ˆã€‚

æœ¬æ¬¡ä½œä¸šå°†ä½¿ç”¨å…¬å¼€æ ‡æ™®500çš„è‚¡ç¥¨æ•°æ®ã€‚
https://www.kaggle.com/dgawlik/nyse#prices-split-adjusted.csv

ä½œä¸šçš„å½¢å¼ä»¥é—®ç­”ä¸ºä¸»ï¼Œå› ä¸ºä¸æ¶‰åŠè¿‡é•¿çš„ä»£ç ï¼Œæ ¸å¿ƒæ˜¯æ•°æ®çš„æ“ä½œï¼Œæ‰€ä»¥è¿™é‡Œæ²¡æœ‰å¤ªå¤šçš„ä»£ç æ¨¡æ¿å¯ä¾›å¤§å®¶å‚è€ƒã€‚
å¸Œæœ›å¤§å®¶èƒ½ä»æœç´¢å¼•æ“ï¼ˆgoogle/bingï¼‰é—®ç­”ç¤¾åŒºï¼ˆstackoverflowï¼‰æˆ–è€…[å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)æˆ–è€…æˆ‘æä¾›çš„jupyter notebooks ä¸­æ‰¾åˆ°å›ç­”é—®é¢˜éœ€è¦çš„æ–¹æ³•ã€‚
è¯·æ—¶åˆ»ç‰¢è®°æ•°æ®çš„å¢åˆ æ”¹æŸ¥å››ç§åŸå­æ“ä½œï¼Œæ€è€ƒæˆ‘ä»¬çš„é—®é¢˜å¯ä»¥è¢«å¦‚ä½•åˆ†è§£ã€‚

é‚£ä¹ˆé¦–å…ˆï¼Œæˆ‘ä»¬è¦import pandas

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

# 1. ä»fundemantals.csvå¼€å§‹ï¼

fundemantals.csv æ˜¯è¿™äº›è‚¡ç¥¨çš„å¹´æŠ¥æ•°æ®

è¯·ç”¨æ•°æ®å›ç­”ä»¥ä¸‹é—®é¢˜ï¼š

1. S&P500è‚¡ç¥¨åœ¨2015å¹´`net income`çš„å‡å€¼æ˜¯å¤šå°‘ï¼Ÿæœ€å¤§å€¼æ¯”æœ€å°å€¼å¤šå¤šå°‘ï¼Ÿï¼ˆæ¯é—®10åˆ†ï¼Œå…±è®¡20åˆ†ï¼‰
2. S&P500è‚¡ç¥¨åœ¨2016å¹´çš„å›ºå®šèµ„äº§ï¼ˆfixed assetsï¼‰å æ€»èµ„äº§(total assets)æ¯”ä¾‹çš„å‡å€¼æ˜¯å¤šå°‘ï¼Ÿå›ºå®šèµ„äº§å æ€»èµ„äº§æ¯”ä¾‹æœ€å°çš„è‚¡ç¥¨æ˜¯çš„ä»£ç ï¼ˆticker symbolï¼‰æ˜¯ä»€ä¹ˆï¼Ÿï¼ˆæ¯é—®10åˆ†ï¼Œå…±è®¡20åˆ†ï¼‰

1.1å›ç­”ï¼š2015å¹´æ ‡æ™®500çš„Net incomeçš„å‡å€¼ä¸º1.575186e+09ã€‚æœ€å¤§å€¼æ¯”æœ€å°å€¼å¤šå‡º7.692200e+10ã€‚
1.2å›ç­”ï¼šæ ‡æ™®500è‚¡ç¥¨çš„å›ºå®šèµ„äº§é™¤ä»¥æ€»èµ„äº§æ¯”ç‡çš„å‡å€¼ä¸º0.185578ã€‚å¹¶ä¸”è¯¥æ¯”ç‡æœ€å°å€¼ä¸º0.016905ï¼Œå¯¹åº”è‚¡ç¥¨DHIã€‚

In [2]:
fundamentals_df=pd.read_csv('fundamentals.csv')

In [3]:
fundamentals_df.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

In [28]:
fundamentals_df.groupby(["For Year"])["Net Income"].mean()

For Year
1215.0    4.546000e+08
2012.0    1.579040e+09
2013.0    1.858240e+09
2014.0    1.818672e+09
2015.0    1.575186e+09
2016.0    2.083535e+09
Name: Net Income, dtype: float64

In [27]:
fundamentals_df.groupby(["For Year"])["Net Income"].agg([np.mean,np.min,np.max])

                  mean          amin          amax
For Year
1215.0    4.546000e+08  4.546000e+08  4.546000e+08
2012.0    1.579040e+09 -4.068000e+09  4.488000e+10
2013.0    1.858240e+09 -2.534000e+09  3.703700e+10
2014.0    1.818672e+09 -5.060000e+09  3.951000e+10
2015.0    1.575186e+09 -2.352800e+10  5.339400e+10
2016.0    2.083535e+09 -6.770000e+08  4.568700e+10

In [14]:
fundamentals_df.groupby(["For Year"])["Net Income"].max()-fundamentals_df.groupby(["For Year"])["Net Income"].min()

For Year
1215.0    0.000000e+00
2012.0    4.894800e+10
2013.0    3.957100e+10
2014.0    4.457000e+10
2015.0    7.692200e+10
2016.0    4.636400e+10
Name: Net Income, dtype: float64

In [43]:
fundamentals_df.groupby(["For Year"])["Net Income"].agg(lambda x:x.max()-x.min()) #ç¬¬ä¸€é¢˜çš„ç¬¬ä¸€é—®ç»“æŸ

For Year
1215.0    0.000000e+00
2012.0    4.894800e+10
2013.0    3.957100e+10
2014.0    4.457000e+10
2015.0    7.692200e+10
2016.0    4.636400e+10
Name: Net Income, dtype: float64

In [68]:
fundamentals01_df=fundamentals_df.filter(items=["For Year","Ticker Symbol","Fixed Assets","Total Assets"]) #ä¸´æ—¶è®¾ç½®ä¸€ä¸ªåˆ—è¡¨ï¼Œæ–¹ä¾¿è¿›è¡Œè®¡ç®—

In [71]:
fundamentals01_df.head(n=15)

    For Year Ticker Symbol  Fixed Assets  Total Assets
0     2012.0           AAL  1.340200e+10  2.351000e+10
1     2013.0           AAL  1.925900e+10  4.227800e+10
2     2014.0           AAL  2.308400e+10  4.322500e+10
3     2015.0           AAL  2.751000e+10  4.841500e+10
4     2012.0           AAP  1.292547e+09  4.613814e+09
5     2013.0           AAP  1.286034e+09  5.564774e+09
6     2014.0           AAP  1.432030e+09  7.962358e+09
7     2015.0           AAP  1.434577e+09  8.134565e+09
8     2013.0          AAPL  1.659700e+10  2.070000e+11
9     2014.0          AAPL  2.062400e+10  2.318390e+11
10    2015.0          AAPL  2.247100e+10  2.903450e+11
11    2016.0          AAPL  2.701000e+10  3.216860e+11
12       NaN          ABBV  2.247000e+09  2.700800e+10
13    2013.0          ABBV  2.298000e+09  2.919800e+10
14    2014.0          ABBV  2.485000e+09  2.751300e+10

In [73]:
fundamentals01_df["Fixed/Total"]=fundamentals01_df["Fixed Assets"]/fundamentals01_df["Total Assets"]

In [74]:
fundamentals01_df.head()

   For Year Ticker Symbol  Fixed Assets  Total Assets  Fixed/Total
0    2012.0           AAL  1.340200e+10  2.351000e+10     0.570055
1    2013.0           AAL  1.925900e+10  4.227800e+10     0.455532
2    2014.0           AAL  2.308400e+10  4.322500e+10     0.534043
3    2015.0           AAL  2.751000e+10  4.841500e+10     0.568212
4    2012.0           AAP  1.292547e+09  4.613814e+09     0.280147

In [75]:
fundamentals01_df.groupby(["For Year"])["Fixed/Total"].agg([np.mean,np.min,np.max])

              mean      amin      amax
For Year
1215.0    0.045069  0.045069  0.045069
2012.0    0.328518  0.000000  0.977524
2013.0    0.286062  0.000000  0.963156
2014.0    0.285970  0.000000  0.981521
2015.0    0.284812  0.000000  0.980837
2016.0    0.185578  0.016905  0.753033

In [89]:
fundamentals02_df=fundamentals01_df.query('`For Year`==2016.0')  #å€Ÿé‰´äº†ç‹åœ£åšçš„ä½œä¸šï¼Œä½†æ˜¯è¿™é‡Œçš„åå•å¼•å·`çœŸçš„æ²¡è§è¿‡ğŸ˜‚
fundamentals02_df.head()

    For Year Ticker Symbol  Fixed Assets  Total Assets  Fixed/Total
11    2016.0          AAPL  2.701000e+10  3.216860e+11     0.083964
19    2016.0           ABC  1.530682e+09  3.365620e+10     0.045480
31    2016.0           ADI  6.361160e+08  7.970278e+09     0.079811
43    2016.0          ADSK  1.693000e+08  5.515300e+09     0.030696
99    2016.0          AMAT  9.370000e+08  1.458800e+10     0.064231

In [90]:
fundamentals02_df.groupby(["Fixed/Total"])["Ticker Symbol"].min().iat[0]    #è¿™ä¸€æ­¥çœŸçš„å¾ˆå¥‡æ€ªï¼Œæœ‰æ²¡æœ‰ä»€ä¹ˆå¥½ç”¨çš„åŠæ³•å‘€ï¼Ÿ

'DHI'

# 2. åŠ å…¥securities.csv~

securities.csvåŒ…å«äº†è¿™äº›è‚¡ç¥¨çš„åŸºæœ¬ä¿¡æ¯

1. è¯·åˆ—ä¸¾å‡ºå„ä¸ªsectorä¸­çš„åŠ å…¥æ—¶é—´æœ€æ—©çš„è‚¡ç¥¨åç§°ï¼ˆ10åˆ†ï¼‰
2. è¯·åˆ—ä¸¾å‡ºæ¯ä¸€ä¸ªå·ä¸­åŠ å…¥æ—¶é—´æœ€æ™šçš„è‚¡ç¥¨åç§°ï¼ˆ10åˆ†ï¼‰

2-1å›ç­”ï¼šç»“æœè§å
2-2å›ç­”ï¼šç»“æœè§å

In [168]:
securities_df=pd.read_csv('securities.csv')
securities_df.rename(columns={"Ticker symbol":"Ticker Symbol"},inplace=True)         #ä¸ºäº†ç¬¬ä¸‰é¢˜çš„å¤„ç†ï¼Œéœ€è¦å°†è¿™é‡Œçš„è‚¡ç¥¨ä»£ç å˜é‡åä¿®æ”¹ä¸€è‡´
securities_df.head()

,Ticker Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877

In [169]:
securities_df.dtypes

Ticker Symbol              object
Security                   object
SEC filings                object
GICS Sector                object
GICS Sub Industry          object
Address of Headquarters    object
Date first added           object
CIK                         int64
dtype: object

In [170]:
type(securities_df["Date first added"][1])             #æ—¥æœŸä¸ºå­—ç¬¦ä¸²å½¢å¼

str

In [171]:
securities_df["Date"]=pd.to_datetime(securities_df["Date first added"])   #æ–°å¢ä¸€åˆ—ï¼Œä½¿ç”¨pandasä¸­çš„to_datetimeå‡½æ•°è¿›è¡Œæ“ä½œï¼Œå› å­—ç¬¦ä¸²å½¢å¼æ— æ³•æ¯”è¾ƒå¤§å°

In [172]:
securities_df.head()

,Ticker Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK,Date
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740,NaT
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1964-03-31
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2012-12-31
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,2011-07-06
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877,2015-08-31

In [173]:
securities_df.dropna()      #åˆ é™¤ç©ºå€¼ï¼ŒæŸ¥çœ‹é—®é¢˜ï¼ŒçŸ¥é“å¯¹äºç»“æœæ— å½±å“

,Ticker Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK,Date
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1964-03-31
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2012-12-31
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,2011-07-06
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877,2015-08-31
5,AYI,Acuity Brands Inc,reports,Industrials,Electrical Components & Equipment,"Atlanta, Georgia",2016-05-03,1144215,2016-05-03
...,...,...,...,...,...,...,...,...,...
492,WLTW,Willis Towers Watson,reports,Financials,Insurance Brokers,"London, United Kingdom",2016-01-05,1140536,2016-01-05
494,WYNN,Wynn Resorts Ltd,reports,Consumer Discretionary,Casinos & Gaming,"Las Vegas, Nevada",2008-11-14,1174922,2008-11-14
499,XYL,Xylem Inc.,reports,Industrials,Industrial Conglomerates,"White Plains, New York",2011-11-01,1524472,2011-11-01
501,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997-10-06
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280,2013-06-21

In [174]:
securities01_df=securities_df.filter(items=["Ticker Symbol","GICS Sector","Address of Headquarters","Date"])
securities01_df.dropna()
securities01_df.head()

  Ticker Symbol             GICS Sector   Address of Headquarters       Date
0           MMM             Industrials       St. Paul, Minnesota        NaT
1           ABT             Health Care   North Chicago, Illinois 1964-03-31
2          ABBV             Health Care   North Chicago, Illinois 2012-12-31
3           ACN  Information Technology           Dublin, Ireland 2011-07-06
4          ATVI  Information Technology  Santa Monica, California 2015-08-31

In [175]:
securities01_df.groupby(["GICS Sector"])["Date"].min()          #è¿™æ ·æ˜¯æ‰¾åˆ°ä¸åŒè¡Œä¸šåˆ†ç±»ä¸­çš„è‚¡ç¥¨æœ€æ—©ä¸Šå¸‚æ—¶é—´ï¼Œä½†æ˜¯è¿˜æ˜¯æ²¡æ³•è¿”å›å¯¹åº”çš„è‚¡ç¥¨ä»£ç

GICS Sector
Consumer Discretionary        1970-06-30
Consumer Staples              1969-03-31
Energy                        1965-03-31
Financials                    1975-06-30
Health Care                   1964-03-31
Industrials                   1964-03-31
Information Technology        1974-12-31
Materials                     1964-06-30
Real Estate                   2007-01-10
Telecommunications Services   1983-11-30
Utilities                     1976-06-30
Name: Date, dtype: datetime64[ns]

In [189]:
id=securities01_df.groupby(["GICS Sector"])["Date"].transform(min)

In [193]:
securities01_df.groupby("GICS Sector").apply(lambda t: t[t.Date==t.Date.min()])    #ç¬¬ä¸€é—®ç­”æ¡ˆåœ¨è¿™é‡Œï¼Œè¿™æ ·æ‰å¯ä»¥å¾—åˆ°æƒ³è¦çš„ä¿¡æ¯

                                Ticker Symbol                  GICS Sector  \
GICS Sector
Consumer Discretionary      296           MCD       Consumer Discretionary
Consumer Staples            207           GIS             Consumer Staples
                            433           CLX             Consumer Staples
Energy                      399           SLB                       Energy
Financials                  255           JPM                   Financials
Health Care                 1             ABT                  Health Care
Industrials                 48           ARNC                  Industrials
                            230           HON                  Industrials
Information Technology      233           HPQ       Information Technology
Materials                   404           SHW                    Materials
Real Estate                 56            AVB                  Real Estate
Telecommunications Services 51              T  Telecommunications Services
                            472            VZ  Telecommunications Services
Utilities                   152           DUK                    Utilities
                            328           NEE                    Utilities

                                             Address of Headquarters  \
GICS Sector
Consumer Discretionary      296                  Oak Brook, Illinois
Consumer Staples            207             Golden Valley, Minnesota
                            433                  Oakland, California
Energy                      399  CuraÃ§ao, Kingdom of the Netherlands
Financials                  255                   New York, New York
Health Care                 1                North Chicago, Illinois
Industrials                 48                    New York, New York
                            230               Morristown, New Jersey
Information Technology      233                Palo Alto, California
Materials                   404                      Cleveland, Ohio
Real Estate                 56                Arlington, Virginia[3]
Telecommunications Services 51                         Dallas, Texas
                            472                   New York, New York
Utilities                   152            Charlotte, North Carolina
                            328                  Juno Beach, Florida

                                      Date
GICS Sector
Consumer Discretionary      296 1970-06-30
Consumer Staples            207 1969-03-31
                            433 1969-03-31
Energy                      399 1965-03-31
Financials                  255 1975-06-30
Health Care                 1   1964-03-31
Industrials                 48  1964-03-31
                            230 1964-03-31
Information Technology      233 1974-12-31
Materials                   404 1964-06-30
Real Estate                 56  2007-01-10
Telecommunications Services 51  1983-11-30
                            472 1983-11-30
Utilities                   152 1976-06-30
                            328 1976-06-30

In [162]:
print(securities01_df.groupby(["Address of Headquarters"])["Date"].max()) #è¿™æ ·å¯ä»¥æ‰¾åˆ°ä¸åŒåœ°åŒºçš„è‚¡ç¥¨æœ€æ™šä¸Šå¸‚æ—¶é—´ï¼Œä½†æ˜¯ä¹Ÿæ²¡æœ‰åŠæ³•è¿”å›å¯¹åº”çš„è‚¡ç¥¨ä»£ç ï¼›ä¸”æœªè¿”å›å·è€Œæ˜¯åœ°åŒº

Address of Headquarters
Akron, Ohio                       NaT
Allentown, Pennsylvania    1985-04-30
Amsterdam, Netherlands            NaT
Amsterdam, New York        2013-12-23
Arlington, Virginia               NaT
                              ...
Woburn, Massachusetts      2015-03-12
Woonsocket, Rhode Island          NaT
Worsley, UK                2012-10-01
York, Pennsylvania         2008-11-14
Zurich, Switzerland        2010-07-15
Name: Date, Length: 264, dtype: datetime64[ns]

In [199]:
securities01_df.groupby(["Address of Headquarters"]).apply(lambda x: x[x.Date==x.Date.max()])     #ç¬¬äºŒé—®ç­”æ¡ˆåœ¨æ­¤ï¼Œå¯è§ä¸Šå¸‚æœ€æ™šè‚¡ç¥¨ï¼Œä½†æ˜¯ä»ç„¶æ˜¯æœªå¤„ç†å·åï¼ˆæˆ‘ä¸ä¼šï¼ï¼‰

,,Ticker Symbol,GICS Sector,Address of Headquarters,Date
Address of Headquarters,,,,,
"Allentown, Pennsylvania",13,APD,Materials,"Allentown, Pennsylvania",1985-04-30
"Amsterdam, New York",308,MHK,Consumer Discretionary,"Amsterdam, New York",2013-12-23
"Arlington, Virginia[3]",56,AVB,Real Estate,"Arlington, Virginia[3]",2007-01-10
"Atlanta, Georgia",5,AYI,Industrials,"Atlanta, Georgia",2016-05-03
"Auburn Hills, Michigan",72,BWA,Consumer Discretionary,"Auburn Hills, Michigan",2011-12-19
...,...,...,...,...,...
"Winston-Salem, North Carolina",216,HBI,Consumer Discretionary,"Winston-Salem, North Carolina",2015-03-20
"Woburn, Massachusetts",407,SWKS,Information Technology,"Woburn, Massachusetts",2015-03-12
"Worsley, UK",350,PNR,Industrials,"Worsley, UK",2012-10-01
"York, Pennsylvania",138,XRAY,Health Care,"York, Pennsylvania",2008-11-14
"Zurich, Switzerland",100,CB,Financials,"Zurich, Switzerland",2010-07-15

# 3. merge!

ç°åœ¨ä½ éœ€è¦åŒæ—¶å¤„ç†æ¥è‡ªä¸¤ä¸ªè¡¨ä¸­çš„ä¿¡æ¯äº†

1. è¯·æ€è€ƒï¼Œåˆå¹¶ä¸¤ä¸ªè¡¨çš„ä¿¡æ¯çš„æ—¶å€™ï¼Œæˆ‘ä»¬åº”è¯¥ç”¨ä»€ä¹ˆæ ·çš„å‡†åˆ™å¯¹å…¶å®ƒä»¬ï¼ˆ10åˆ†ï¼‰
2. è¯·åˆ—ä¸¾æ¯ä¸ªsectoråœ¨2013-2016å¹´ç´¯è®¡Research&Developmentçš„æ€»æŠ•å…¥ï¼ˆ10åˆ†ï¼‰
3. è¯·åˆ—ä¸¾å‡ºæ¯ä¸ªsectorä¸­ï¼Œåœ¨2013-2016å¹´ç´¯è®¡Research&developmentæŠ•å…¥æœ€å¤§çš„3å®¶å…¬å¸çš„åç§°ä»¥åŠæŠ•å…¥çš„æ•°å€¼ï¼ˆ20åˆ†ï¼‰

In [ ]:
3-1ï¼šåˆå¹¶æ—¶åº”è¯¥æŒ‰ç…§è‚¡ç¥¨ä»£ç ticker symbolè¿›è¡Œåˆå¹¶ï¼Œå…·ä½“è§åé¢
3-2:è§åé¢
3-3ï¼šè§åé¢

In [49]:
fundamentals_df.shape   #æŸ¥çœ‹æ•°æ®é‡

(1781, 79)

In [50]:
securities_df.shape

(505, 8)

In [51]:
fundamentals_df.columns      #æŸ¥çœ‹åˆ—å

Index(['Unnamed: 0', 'Ticker Symbol', 'Period Ending', 'Accounts Payable',
       'Accounts Receivable', 'Add'l income/expense items', 'After Tax ROE',
       'Capital Expenditures', 'Capital Surplus', 'Cash Ratio',
       'Cash and Cash Equivalents', 'Changes in Inventories', 'Common Stocks',
       'Cost of Revenue', 'Current Ratio', 'Deferred Asset Charges',
       'Deferred Liability Charges', 'Depreciation',
       'Earnings Before Interest and Tax', 'Earnings Before Tax',
       'Effect of Exchange Rate',
       'Equity Earnings/Loss Unconsolidated Subsidiary', 'Fixed Assets',
       'Goodwill', 'Gross Margin', 'Gross Profit', 'Income Tax',
       'Intangible Assets', 'Interest Expense', 'Inventory', 'Investments',
       'Liabilities', 'Long-Term Debt', 'Long-Term Investments',
       'Minority Interest', 'Misc. Stocks', 'Net Borrowings', 'Net Cash Flow',
       'Net Cash Flow-Operating', 'Net Cash Flows-Financing',
       'Net Cash Flows-Investing', 'Net Income', 'Net Income Adjustments',
       'Net Income Applicable to Common Shareholders',
       'Net Income-Cont. Operations', 'Net Receivables', 'Non-Recurring Items',
       'Operating Income', 'Operating Margin', 'Other Assets',
       'Other Current Assets', 'Other Current Liabilities', 'Other Equity',
       'Other Financing Activities', 'Other Investing Activities',
       'Other Liabilities', 'Other Operating Activities',
       'Other Operating Items', 'Pre-Tax Margin', 'Pre-Tax ROE',
       'Profit Margin', 'Quick Ratio', 'Research and Development',
       'Retained Earnings', 'Sale and Purchase of Stock',
       'Sales, General and Admin.',
       'Short-Term Debt / Current Portion of Long-Term Debt',
       'Short-Term Investments', 'Total Assets', 'Total Current Assets',
       'Total Current Liabilities', 'Total Equity', 'Total Liabilities',
       'Total Liabilities & Equity', 'Total Revenue', 'Treasury Stock',
       'For Year', 'Earnings Per Share', 'Estimated Shares Outstanding'],
      dtype='object')

In [52]:
securities_df.columns

Index(['Ticker symbol', 'Security', 'SEC filings', 'GICS Sector',
       'GICS Sub Industry', 'Address of Headquarters', 'Date first added',
       'CIK'],
      dtype='object')

In [176]:
df=pd.merge(fundamentals_df,securities_df,how="inner",on="Ticker Symbol")          #åŸæ•°æ®é‡Œé¢çš„Ticker Symbolä¸­çš„Så­—æ¯ä¸€ä¸ªå¤§å†™ä¸€ä¸ªå°å†™ï¼Œå‘ï¼

In [177]:
df.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Earnings Per Share,Estimated Shares Outstanding,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK,Date
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,-5.60,3.350000e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,2015-03-23
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,-11.25,1.630222e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,2015-03-23
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,4.02,7.169154e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,2015-03-23
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,11.39,6.681299e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,2015-03-23
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,5.29,7.328355e+07,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",2015-07-09,1158449,2015-07-09

In [180]:
type(df["For Year"][3])             #å¹´ä»½æ•°å­—æ˜¯æµ®ç‚¹æ•°

numpy.float64

In [182]:
df1316=df.query("2013.0<=`For Year`<=2016.0")
df1316.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Earnings Per Share,Estimated Shares Outstanding,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK,Date
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,-11.25,1.630222e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,2015-03-23
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,4.02,7.169154e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,2015-03-23
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,11.39,6.681299e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,2015-03-23
5,5,AAP,2013-12-28,2.609239e+09,-32428000.0,2.698000e+06,26.0,-1.957570e+08,5.312930e+08,40.0,...,5.36,7.308918e+07,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",2015-07-09,1158449,2015-07-09
6,6,AAP,2015-01-03,3.616038e+09,-48209000.0,3.092000e+06,25.0,-2.284460e+08,5.629450e+08,3.0,...,6.75,7.315926e+07,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",2015-07-09,1158449,2015-07-09

In [185]:
df1316.groupby(["GICS Sector"])["Research and Development"].sum()               #3-2å³ç¬¬äºŒé—®çš„ç­”æ¡ˆ

GICS Sector
Consumer Discretionary         1.860178e+09
Consumer Staples               1.346700e+09
Energy                         1.692513e+09
Financials                     0.000000e+00
Health Care                    1.527224e+11
Industrials                    4.262290e+10
Information Technology         2.818233e+11
Materials                      1.850921e+10
Real Estate                    1.162100e+08
Telecommunications Services    0.000000e+00
Utilities                      0.000000e+00
Name: Research and Development, dtype: float64

In [187]:
df1316.groupby(["GICS Sector"])["Research and Development"].transform(max)

1       3.331000e+09
2       3.331000e+09
3       3.331000e+09
5       4.270430e+08
6       4.270430e+08
            ...
1775    0.000000e+00
1776    0.000000e+00
1777    8.393000e+09
1778    8.393000e+09
1779    8.393000e+09
Name: Research and Development, Length: 1363, dtype: float64

In [234]:
df131601=df1316.filter(items=["GICS Sector","Ticker Symbol","Research and Development"])            #è¿›è¡Œæ•°æ®ç®€åŒ–ï¼Œæå–å‡ºç¬¬ä¸‰é¢˜åªéœ€è¦çš„æ•°æ®ã€‚
df131601.head()

              GICS Sector Ticker Symbol  Research and Development
1             Industrials           AAL                       0.0
2             Industrials           AAL                       0.0
3             Industrials           AAL                       0.0
5  Consumer Discretionary           AAP                       0.0
6  Consumer Discretionary           AAP                       0.0

In [236]:
df131602=df131601.groupby(["GICS Sector","Ticker Symbol"])["Research and Development"].sum()  #3-3ç¬¬ä¸‰é—®çš„ç­”æ¡ˆä»è¿™é‡Œå¼€å§‹
df131602.head()

GICS Sector             Ticker Symbol
Consumer Discretionary  AAP              0.0
                        AMZN             0.0
                        AN               0.0
                        AZO              0.0
                        BBBY             0.0
Name: Research and Development, dtype: float64

In [239]:
df131602.sort_values(ascending=False,inplace=True)        #æ¯ä¸ªè¡Œä¸šä¸­ï¼Œå¯¹äºå…¬å¸çš„æ€»ç ”å‘è´¹ç”¨è¿›è¡Œå€’åºæ’åˆ—
df131602.head()

GICS Sector             Ticker Symbol
Information Technology  MSFT             4.582600e+10
                        INTC             3.427600e+10
                        AAPL             2.862800e+10
                        CSCO             2.473900e+10
Health Care             PFE              2.276100e+10
Name: Research and Development, dtype: float64

In [240]:
df131602.groupby(["GICS Sector"]).head(3)                               #è¿™æ˜¯3-3ç¬¬ä¸‰é—®çš„ç­”æ¡ˆã€‚

GICS Sector                  Ticker Symbol
Information Technology       MSFT             4.582600e+10
                             INTC             3.427600e+10
                             AAPL             2.862800e+10
Health Care                  PFE              2.276100e+10
                             MRK              2.138700e+10
                             LLY              1.506130e+10
Industrials                  BA               9.449000e+09
                             UTX              7.096000e+09
                             CAT              6.545000e+09
Materials                    MON              6.350000e+09
                             DD               5.893000e+09
Energy                       BHI              1.635000e+09
Materials                    PPG              1.422000e+09
Consumer Discretionary       GRMN             1.187087e+09
                             HAS              6.730910e+08
Consumer Staples             CLX              5.320000e+08
                             CPB              4.910000e+08
                             MJN              3.237000e+08
Real Estate                  WY               8.400000e+07
Energy                       HP               5.751300e+07
Real Estate                  VNO              3.221000e+07
Consumer Discretionary       NWL              0.000000e+00
Energy                       EOG              0.000000e+00
Financials                   AJG              0.000000e+00
                             AIZ              0.000000e+00
                             AIG              0.000000e+00
Utilities                    WEC              0.000000e+00
                             AEE              0.000000e+00
                             PPL              0.000000e+00
Real Estate                  SPG              0.000000e+00
Telecommunications Services  CTL              0.000000e+00
                             FTR              0.000000e+00
                             LVLT             0.000000e+00
Name: Research and Development, dtype: float64

# 4. ç°åœ¨è®©æˆ‘ä»¬æ¥çœ‹çœ‹æ›´åŠ å¤æ‚çš„æ•°æ®

è¯·å¯¼å…¥price.csvï¼Œç„¶åç»“åˆä½ çš„èªæ˜æ‰æ™ºå›ç­”ä»¥ä¸‹é—®é¢˜ï¼ˆé™„åŠ é¢˜ï¼Œ40åˆ†ï¼‰

å‡è®¾ä½ æ˜¯æŸåŸºé‡‘å…¬å¸çš„è€æ¿ï¼Œç°åœ¨å¯¹äºæ¯åªè‚¡ç¥¨ï¼Œä½ éƒ½ä¸“é—¨å®‰æ’äº†ä¸€ä½è´Ÿè´£å®ƒçš„äº¤æ˜“å‘˜ã€‚å…¬å¸è§„å®šæ¯ä¸€ä½äº¤æ˜“å‘˜æ‰‹ä¸­çš„èµ„é‡‘è¦ä¹ˆå…¨éƒ¨ä¹°å…¥è¦ä¹ˆå…¨éƒ¨å–å‡ºï¼ˆç©ºä»“ï¼Œè½¬åŒ–ä¸ºç°é‡‘ï¼‰ã€‚å‡è®¾2016å¹´æ¯ä¸€ä½äº¤æ˜“å‘˜æ‰‹ä¸­éƒ½æœ‰10000ç¾å…ƒï¼Œå‡è®¾ä»–ä»¬éƒ½èƒ½å¤Ÿçœ‹åˆ°2016å¹´å…¨å¹´çš„æ•°æ®ï¼Œå‡è®¾ä»–ä»¬éƒ½èƒ½æŠ“ä½æ¯ä¸€æ¬¡æœºä¼šï¼Œé‚£ä¹ˆè¯·é—®2016å¹´åº•æ—¶ï¼Œèµšé’±æœ€å¤šçš„è‚¡ç¥¨æ˜¯å“ªä¸€åªï¼Œèµšäº†å¤šå°‘é’±ï¼Ÿ

In [ ]:
å›ç­”ï¼šèµšçš„æœ€å¤šçš„æ˜¯FSLR    è·åˆ©761006.866976

In [248]:
prices_df=pd.read_csv('prices.csv')
prices_df

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0
...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0
851262,2016-12-30 00:00:00,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0
851263,2016-12-30 00:00:00,FTV,54.200001,53.630001,53.389999,54.480000,705100.0

In [249]:
prices_df.dtypes     #æ—¶é—´æ˜¯å­—ç¬¦ä¸²å½¢å¼

date       object
symbol     object
open      float64
close     float64
low       float64
high      float64
volume    float64
dtype: object

In [252]:
prices_df["Date"]=pd.to_datetime(prices_df["date"])            #ä¸ºäº†æ¯”è¾ƒï¼Œå°†æ—¶é—´è½¬æ¢ä¸ºæ—¶é—´æ ¼å¼ï¼Œæ³¨æ„åˆ°æ—¶é—´éƒ½æ˜¯0ç‚¹0åˆ†ï¼Œæ•°æ®ä¸å±äºé«˜é¢‘æ•°æ®ï¼Œä½†å¯ä»¥å‡è®¾é«˜é¢‘äº¤æ˜“æ˜“
prices_df

,date,symbol,open,close,low,high,volume,Date
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0,2016-01-05
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0,2016-01-06
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0,2016-01-07
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0,2016-01-08
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0,2016-01-11
...,...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0,2016-12-30
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0,2016-12-30
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0,2016-12-30
851262,2016-12-30 00:00:00,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0,2016-12-30
851263,2016-12-30 00:00:00,FTV,54.200001,53.630001,53.389999,54.480000,705100.0,2016-12-30

In [263]:
prices_df["NI"]=(10000/prices_df["low"])*(prices_df["high"]-prices_df["low"])      #å‡è®¾èƒ½æŠ“ä½æ¯ä¸€å¤©ä¸­çš„æœ€é«˜ä»·ä¸æœ€ä½ä»·ä¹‹å·®ï¼Œæ¯å¤©éƒ½å¯ä»¥ä½ä¹°é«˜å–è·å¾—å¯æ“ä½œæ€§çš„æœ€å¤§åˆ©æ¶¦
prices_df

,date,symbol,open,close,low,high,volume,Date,NI
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0,2016-01-05,322.132456
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0,2016-01-06,466.900026
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0,2016-01-07,418.515444
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0,2016-01-08,347.136740
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0,2016-01-11,283.986862
...,...,...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0,2016-12-30,105.007489
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0,2016-12-30,145.233548
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0,2016-12-30,88.230148
851262,2016-12-30 00:00:00,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0,2016-12-30,265.705922
851263,2016-12-30 00:00:00,FTV,54.200001,53.630001,53.389999,54.480000,705100.0,2016-12-30,204.158273

In [264]:
prices01_df=prices_df.groupby(["symbol"])["NI"].sum()
prices01_df

symbol
A       385380.891616
AAL     722903.221704
AAP     365451.582516
AAPL    345971.241641
ABBV    231390.522354
            ...
YHOO    422753.788445
YUM     318144.826227
ZBH     315360.396617
ZION    491429.640390
ZTS     204138.247084
Name: NI, Length: 501, dtype: float64

In [265]:
prices01_df.sort_values(ascending=False)

symbol
FSLR    761006.866976
CHK     757851.936248
AAL     722903.221704
MU      680610.469164
NFLX    672130.572964
            ...
HPE      95980.391189
CSRA     86732.974013
KHC      73504.002964
WLTW     51270.127631
FTV      27159.981286
Name: NI, Length: 501, dtype: float64

In [254]:
#è¿™ä¸€é¢˜ï¼Œæˆ‘è§‰å¾—è·åˆ©æœ€å¤§çš„åšæ³•åº”è¯¥æ˜¯ï¼šæ¯ä¸€å¤©å°†å‰ä¸€å¤©å•†æˆ·ä½™é¢ç°é‡‘ï¼Œåœ¨ä¸€å¤©ä¸­ä½ä»·ä¹°å…¥ï¼Œé«˜ä»·å–å‡ºï¼ˆè¿™é‡Œå‡è®¾ä½ä»·å…ˆäºé«˜ä»·å‡ºç°ï¼‰ï¼Œ
#ä¸€å¤©ä¸­å®ç°æœ€é«˜ä»·ä¸æœ€ä½ä»·ä¹‹é—´çš„åˆ©æ¶¦ï¼Œæ¯ä¸€å¤©çš„å¼€å§‹å’Œç»“æŸéƒ½æ˜¯ä»¥ç°é‡‘å½¢å¼å­˜å‚¨ã€‚
#å¦‚æœä¸èƒ½ç¡®å®šæœ€ä½ä»·ä¸æœ€é«˜ä»·çš„å‡ºç°æ¬¡åºï¼Œä¹Ÿå¯ä»¥è·å¾—å¼€ç›˜ä»·å’Œæ”¶ç›˜ä»·ä¹‹é—´æ‰€æœ‰çš„æ­£å‘åˆ©æ¶¦